.language-switcher {
    display: flex;
    gap: 2px;
    padding: 2px;
    background: transparent;
    border: 1px solid var(--bg-black-50);
    border-radius: 12px;
}

.language-button {
    padding: 2px 5px;
    color: var(--text-black-700);
    border: 0;
    border-radius: 3px;
    background: transparent;
    cursor: pointer;
    font: 600 11px 'Poppins', sans-serif;
}

.language-button.active,
.language-button:hover {
    color: #fff;
    background: var(--skin-color);
}